.select2-container .select2-selection--single {
    height: 43px;
}
.select2-container--default .select2-selection--single{
    border-radius: 10px !important;
}
.select2-container--open .select2-dropdown {
    width: 300px !important;
    left: 0;
}
.select2-container .select2-selection--single {
    height: 43px;
    width: 300px;
}